footer {
    height: 308px;
}

footer,
.p-4 {
    background-color: $darkbrown;
}

.color-orange {
    color: $orange;
}

.color-red {
    color: $red;
}

.color-darkwhite {
    color: $darkwhite;
}

#form5Example2 {
    outline: none;
    cursor: pointer;
}
