button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: $orange;
    font-weight: 500;
}

.page-link:hover {
    z-index: 2;
    color: $darkorange;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.offset {

    margin: 20px auto;
}

.justify-content-right {
    justify-content: flex-end;
}

#orderhistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table {
    background-color: #FFF;
    border: 1px solid $white;
}

.table th {
    border: 1px solid $white;
}

.table td {
    border: 1px solid $orange;
}

.table thead th {
    border: 1px solid $white;
}

th {
    background-color: $orange;
    color: $white;
    border: 1px solid $white;
}

.th-sm {
    border: 1px solid $white;
}

tr:nth-child(odd) {
    background: rgba($color: $orange, $alpha: 0.2);
}

tr:nth-child(even) {
    background: #FFF;
}

.active {
    background-color: $orange;
}
