// Body
$body-bg: #fbf4f0;

// Typography
$font-family: ‘Montserrat’,
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFF;
$darkwhite: #fbf4f0;
$pink: #f1ae93;
$red: #eb534c;
$orange: #df9367;
$darkbrown: #3e281c;
$lightbrown: #908178;
$lightpink: #d2b9ad;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$yellow: #ffed4a;
